*.pyc
*.sw?
*~
.DS_Store
.tags
TAGS
.cscope
cscope.files
cscope.out

last_tested_versions

/custom.mk
/config.mk
/mk/gen/*
/build

/src/quickrun_rebirthdb
/src/debug_rebirthdb
/src/eavesdrop_rebirthdb
/src/eavesdrop_memcache
/src/eavesdrop
/src/eavesdrop_debug
/src/valgrind_rebirthdb
/src/spin_up_clusters.py
/src/.clang_complete
/src/find_replace.sh
/src/make_filter.sh
/src/cluster_directory_*

/packaging/ami/build-ami-files/static-web

/**/rebirthdb_data
/**/rebirthdb_metadata

/scripts/netrecord/netrecord
/scripts/cluster_directory_*

/test/performance/comparisons/comparison*
/test/performance/results/
/test/performance/run/

/test/results
/**/.rebirthdbTestTemp-*
/**/run
/test_results.*

/vendored/

/windows_deps/
/x64/
/RethinkDB.sdf
/RethinkDB.vcxproj.filters
/RethinkDB.vcxproj.user
/RethinkDB.vcxproj.xml
*.xml
*.iml
/.vscode

*.log
